################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ui/Bin
/ui/Web.Debug.config
/ui/Web.config
/ui/node_modules
/ui/dist
/ui/bower_components/open-iconic
/backend.tests/obj
/backend.tests/bin/Debug/netcoreapp2.0
/ui/test_results
/backend.tests/bin/Release
/backend.tests/bin/Debug
