################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ui/Bin
/ui/Web.Debug.config
/ui/Web.config
